@media screen and (max-width: 991px) {
  h1, h2, h3 {
    font-family: cursive;
    font-kerning: none;
    font-stretch: extra-condensed;
  }
}

@media screen and (max-width: 991px) {
  body{
    background-color: #fce29c;
  }
}

@media screen and (max-width: 991px) {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  body{
    background-color: #C7CCC9;
  }
}

@media screen and (min-width: 992px) {
  img {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
    width: 240px;
    height: auto;
    display: block;
    float: none;
  }
}



.jumbotron2 {
  margin: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  color: ##2E2E32;
  background-color: #CBA848;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}

.jumbotron3 {
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  color: ##2E2E32;
  background-color: #CBA848;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  font-weight: bolder;
}
