.jumbotron2 {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  color: #2d0320;
  background-color: #6c969d;
  text-align: center;
  font-size: 24px;
  font-family: monospace;
  font-weight: bolder;
}

.background-color2 {
  background-color: #99d5c9;
}
